<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee">
<div>
    <label><b>Id: </b></label> {{employee.id}}
  </div>
  <div>
    <label><b>Name: </b></label> {{employee.fullName}}
  </div>
  <div>
    <label><b>Designation: </b></label> {{employee.designation}}
  </div>
  <div>
    <label><b>Salary: </b></label> {{employee.salary}}
  </div>
	<div>
    <label><b>Joining Date: </b></label> {{employee.joiningDate | date}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>